<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include("modules/head") %>
        <link rel="stylesheet" href="../css/dist/profile.css">
</head>

<body>
    <!-- BS icons image -->
    <%- include("modules/icons") %>

        <!-- BS layout -->
        <div class="d-flex flex-nowrap">

            <!-- BS sidebar-->
            <%- include("modules/sidebarUser") %>

                <!-- BS vertical divider-->
                <%- include("modules/verticalDivider") %>

                    <div class="content-container">

                        <!-- BS header-->
                        <%- include("modules/headerUser") %>

                            <!-- personal main -->
                            <div class="container container-main">
                                <main class="">
                                    <span class="fs-2">Welcome to Web3! <%=name %>
                                    </span>
                                    <img src=<%=picture %> >
                                    <span class="fs-4">Wallet Address: <%=public_address %>
                                    </span>
                                    <span class="fs-4">ETH Balance: <%=userEthBalance %>
                                    </span>
                                </main>
                            </div>

                            <!-- BS footer-->
                            <%- include("modules/footer") %>

                    </div>

        </div>

        <!-- BS login modal -->
        <%- include("modules/logInModal") %>

            <!-- BS v5.3 CDN JS-->
            <%- include("modules/bsJsCDN.ejs") %>

                <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
                <script type="module" src="../js/profile.js"></script>
</body>

</html>